.navbar-brand {
  /*settings for Navbar*/
    position: relative;
    min-height: 50px;
    margin-bottom: 10%;
    border-bottom: 10%;
    /* margin-bottom: 20px;
    border-bottom: 1px; */
}
#scary_banner {
  /*Scary Banner Styling*/
  background-image: url("../images/horror_banner_smallest.jpg");
  background-repeat: repeat-x;
  margin: 2% auto 2% auto;
  padding: 5%;
  position: absolute;
  top: 50px;
}
#headerText {
  color: aqua;
  font: bolder;
  font-stretch: expanded;
  text-align: center;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* Typography */
  font-size: 18px;
  background: black;
  color: white;
}
h1 {
  color: white;
}
h2,h3 {
  /* Typography */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
}
.top{
  background-color: rgb(97, 97, 143);
  color: white;
  text-align: center;
  height: 100px;
}
.movie-container {
  max-width: 25%;
   float: left;
}
container{
    float: left;
}
img {
  max-width:75%;
  height: auto;  
}
.stream-icon {
  padding: 5px;
}
.streamingTitles {
  max-width:05%;
  height:auto;
}
#movies {
  float: left;
  /*Padding for banner to allow movies results to appear below image*/
  /* margin-top: 55%;
  padding-left: 25%;  */
  
  display: block;
}
.moviegroup{
    margin-top: 15%;
    max-width:25%;
    height:auto;
  
}
  #myformgroup{
    margin-right: 15%;
    background: green;
}
  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}